<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <p>
    This is interpolation {{ title }}!
  </p>
  <img width="300" alt="interpolation" src="{{ imageUrl }}">
  <img width="300" alt="property binding" [src]="imageUrl">
</div>
<div>
  <table>
    <tr>
      <td [attr.colspan]="cols">
        attribute binding
      </td>
    </tr>
  </table>
</div>
<div>
  <button class="btn btn-primary" [class.active]="isActive"> class binding</button>
  <button class="btn btn-primary" [style.background-color]="bgColor"> style binding</button>
  <button (click)="onSave()"> event binding </button>
</div>

<router-outlet></router-outlet>
